:root {
    --dodger-blue: #4285f4;
    --orangered: #f65314;
    --marigold: #fb0;
    --medium-green: #34a853;
    --grape-purple: #6b1d58;
    --coral-pink: #fd5c63;
    --dark-lime-green: #7cbb00;
    --colors-color-101010: #101010;
    --gray: #afafaf;
    --blue: #6454dd;
    --pink: #e184bd;
    --white: #fff;
    --black: #333;
    --young-brown: #e1b582;
    --sickly-yellow: #b5dd2b;
    --06-white: #fff;
    --05-gray-light: #dce4e7;
    --04-gray: #949799;
    --03-dark: #000;
    --01-primary: #000;
    --colors-color-bcbcbc: #bcbcbc;
    --colors-color-f-5-f-5-f-5: #f5f5f5;
    --colors-color-232323: #232323;
    --hovers-hover-bg-2: rgba(16, 16, 16, 0.3);
    --colors-color-525252: #525252;
    --colors-color-d-6-d-6-d-6: #d6d6d6;
    --bg-opasity-bg-opacity-40: rgba(16, 16, 16, 0.4);
    --colors-color-8-a-8-a-8-a: #8a8a8a;
    --primary: #40bca8;
    --01-colors-01-main-secondary: #fff;
  }
  .hero .nav-item{
    padding-block: 30px;
    font-weight: 300;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .hero .nav-link{
    color: #fff;
    font-size: 18px;
  }
  .hero .nav-link img{
      width: 18px;
  }
  @media (max-width:768px) {
      .logo{
          width: 130px;
      }
      .hero .nav-item{
          padding: 0;
      }
    .hero .nav-link{
        font-size: 12px;
      }
      .hero .nav-link img{
          width: 15px;
      }
      .hero .GET-INSPIRED {
          font-size: 50px;
          line-height: 1;
      }
  }
  .hero .nav-link:hover{
    color: #fff;
  }
  .hero .call-btn{
      border-radius: 50px;
      padding: 6px 20px;
      transition: all 500ms;
      border: 2px solid;
      width: fit-content;
  }
  .hero .call-btn:hover{
    background: transparent;
      border: 2px solid var(--orangered);
  }
  .hero .btn-light{
      transition: all 500ms;
      width: 200px;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 38px;
  }
  .hero .btn-light:hover{
      background-color: transparent;
      color: #fff;
  }
  
  .contact-form-container{
      box-shadow: inset 0px 0px 5px 1px #fff;
      padding: 30px 25px;
      border: 1.5px solid;
      border-radius: 2px;
  }
  .SCHEDULE-A-FREE-CONS {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.42;
    }
    .Chat-live-with-us-or {
      font-size: 12px;
      font-weight: 600;
    }
  .contact-form-container label{
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 1rem;        
  }
  .contact-form-container input{
      border-color: #d5dae2;
  }
  .contact-form-container input[type="submit"]{
      background: #fd5c63;
      border: 1px solid #fd5c63;
      color: #fff;
      height: 40px;
      margin-top: 10px;
      font-weight: 500;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
  }
  .contact-form-container input[type="submit"]:hover{
      background: #fff;
      color: #f65314;
  }
  .sticky-icons{
    position: fixed;
    right: 5px;
    z-index: 999999999999999999;
    top: 65%;
    list-style: none;
  }
  .sticky-icons li{
    background: #34a853;
    transition: all 500ms;
    border-radius: 50%;
  }
  .sticky-icons a{
    color: #fff;
  }
  .sticky-icons img{
    height: 45px;
    padding: 10px;
  }
  .sticky-icons li:hover{
    transform: translatey(-5px);
  }
  /* tech logos */
  .We-specialize-in-all {
      margin: 0px 0 73.7px 0;
      font-size: 21px;
      line-height: 1.52;
      color: #525252;
  }
  /* Expectations */
  .Expectations{
    background-size: cover;
    background-position: center center;
    padding: 60px 0;
  }
  .no-webp .Expectations{
      background-image: url(../imgs/LP/seo-ser-bg.jpg);
  }
  .webp .Expectations{
      background-image: url(../imgs/LP/seo-ser-bg.webp);
  }
  .DM{
    background-color: #6b1d58;
  }
  .expect-box{
      padding: 25px 15px;
      border-radius: 4px;
      margin-bottom: 35px;
      border: 2px solid transparent;
      transition: 500ms;
  }
  .expect-box:hover{
      border: 2px solid;
      background: #00000030;
      transform: translateY(-5px);
  }
  .expect-box h4{
      font-size: 18px;
      font-weight: 600;
      line-height: 11.11px;
      margin-bottom: 15px;
  }
  .expect-box .Fast-turnaround-time {
      font-size: 14px;
      line-height: 1.43;
      color: #d9d9d9;
      transition: 500ms;
    }
  .expect-box:hover .Fast-turnaround-time {
      color: #fff;
    }
  
    /* trusted */
    .We-lay-down-a-solid {
      font-size: 21px;
      line-height: 1.95;
      color: #333;
    }
    /* Newsletters */
    .Newsletters{
        background-color: #f5f5f5;
        padding: 100px 0;
    }
    .Stay-in-the-know {
      font-size: 32px;
      font-weight: 600;
      line-height: 1.31;
      letter-spacing: 1.2px;
      color: #6b1d58;
    }
    .Join-our-mailing-lis {
      font-size: 17px;
      line-height: 1.59;
      letter-spacing: 0.6px;
      color: #333;
    }
    .Newsletters input{
        width: 80%;
        border-radius: 4px;
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
        background-color: #fff;
        height: 45px;
    }
    .Newsletters input:focus{
        outline: 0;
    }
    .Newsletters button{
        right: 10%;
        height: 83%;
      padding: 0px 10px;
      background: #6b1d58;
      margin-top: 3px;
      border-radius: 4px;
      color: #fff;
      transition: 500ms;
    }
    .Newsletters button:hover{
        transform: scale(1.1);
    }
  
    /* PPC */
    .title small{
      font-size: 23px;
      letter-spacing: 0px;
      font-weight: 600;
    }
    .people-showing-thumbs-up {
      width: 326px;
    height: 378px;
      border: 2px solid #fff;
      border-radius: 4px;
      padding: 8px;
      margin-top: 40px;
    }
    .Tailored-Strategy {
      font-size: 21px;
      font-weight: bold;
      line-height: 1.67;
      color: var(--marigold);
      transition: all 500ms;
    }
    .Deep-Dive{
      color: var(--dodger-blue);
    }
    .All-inclusive,.Budget-Control{
      color: var(--coral-pink);
    }
    .Analysis{
      color: var(--grape-purple);
    }
    .Transparent-Pricing{
      color: var(--medium-green);
    }
    .We-build-a-tailored {
      font-size: 15px;
      line-height: 1.67;
      color: #000;
      transition: all 500ms;
      padding-top: 30px;
    }
    .Services .service  {
      transition: 500ms;
      margin-bottom: 35px;
      border-radius: 2px;
      background-color: #f5f5f5;
    }
    @media (min-width: 768px){
      .Services .service{
        max-width: 30%;
      }
    }
  
    .Services .Service-con{
        display: block;
      border-radius: 4px;
      border: solid 3px #fffefe;
      text-decoration: none;
      transition: 500ms;
      padding: 40px;
      height: 274px;
    }
    .Services .service  {
      padding: 12px;
      border-radius:4px ;
    }
    .Services .service img{
      top: 10px;
      right: 10px;
    }
    .Services .service:hover h4,.Services .service:hover p {
      color: var(--white);
    }
    .Services .service.red:hover  {
      background-color: #FD5C63;
    }
    .Services .service.blue:hover  {
      background-color: var(--dodger-blue);
    }
    .Services .service.yellow:hover  {
      background-color: var(--marigold);
    }
    .Services .service.green:hover  {
      background-color: var(--medium-green);
    }
    .Services .service.purple:hover  {
      background-color: var(--grape-purple);
    }
  
  .Services .services-squares{
      bottom: -45px;
      left: 130px;
  }
  .G-ser1,.G-ser2{
    top: 41%;
  }
  .G-ser1{
    right: 0;
  }
  .G-ser2{
    left: 0;
  }
  
  /* we can */
  
  /* Start Get Started */
  .get-started .title{
    color: #6B1D58;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .get-started .brief{
    margin-top: 14px;
    font-weight: normal;
    color: #333;
    font-size: 20px;
    line-height: 1.95;
  }
  .get-started .contact-info{
    margin-top: 70px;
  }
  .about-services-boxes{
    margin-top: 60px;
  }
  .about-services-boxes .service-box{
    height: 200px;
    box-shadow: 0px 7px 7px rgba(0,0,0,.3);
    padding-inline: 10px;
    padding-top: 15px;
    margin-bottom: 60px;
  }
  .about-services-boxes  .service-box h5{
    color: #333;
    font-size: 21px;
    font-weight: 600;
  }
  .about-services-boxes  .service-box span{
    height: 27px;
    line-height: 27px;
    color: #fff
  }
  .about-services-boxes  .service-box .span-1{
    background-color: #fd5c63;
  }
  .about-services-boxes  .service-box .span-2{
    background-color: #4285f4;
  }
  .about-services-boxes  .service-box .span-3{
    background-color: #ffbb00;
  }
  .about-services-boxes  .service-box .span-4{
    background-color: #34a853;
  }
  .about-services-boxes  .service-box .span-5{
    background-color: #ffbb00;
  }
  .about-services-boxes  .service-box .span-6{
    background-color: #34a853;
  }
  .about-services-boxes  .service-box .span-7{
    background-color: #6b1d58;
  }
  .about-services-boxes  .service-box .span-8{
    background-color: #f65314;
  }
  
  .trusted-clients .trusted-clients-logo img{
    width: auto;
    height: auto;
    box-shadow: none;
  }
  
  /* web */
  .get-started{
    padding-block: 78px;
  }
  .main-get-started{
    padding-block: 0;
  }
  .get-started .title{
    color: #6B1D58;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .get-started .brief{
    margin-top: 14px;
    font-weight: normal;
    color: #333;
    font-size: 20px;
    line-height: 1.95;
  }
  .get-started .contact-info{
    margin-top: 70px;
  }
  @media (min-width:786px) {
    .F-border{
      padding: 40px 30px;
    }
  }
  /* Start Single Case Study Page */
  .case-single .title{
    font-weight: 600;
    letter-spacing: 4.31px;
  }
  .case-single .brief{
    font-size: 16px;
    line-height: 2.19;
  }
  .case-single-accordion{
    margin-top: 45px;
  }
  .case-single-accordion-head{
    padding: 16px 22px;
    box-shadow: 0 7px 15px 4px rgba(0,0,0,.07);
    margin-bottom: 30px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  .accordion:nth-of-type(1) .case-single-accordion-head{
    border: 1px solid #fd5c63;
  }
  .accordion:nth-of-type(2) .case-single-accordion-head{
    border: 1px solid #34a853;
  }
  .accordion:nth-of-type(3) .case-single-accordion-head{
    border: 1px solid #4285f4;
  }
  .accordion:nth-of-type(4) .case-single-accordion-head{
    border: 1px solid #f65314;
  }
  .case-single-accordion-head h3{
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: 3.23px;
  }
  .accordion:nth-of-type(1) .case-single-accordion-head h3{
    color: #fd5c63;
  }
  .accordion:nth-of-type(2) .case-single-accordion-head h3{
    color: #34a853;
  }
  .accordion:nth-of-type(3) .case-single-accordion-head h3{
    color: #4285f4;
  }
  .accordion:nth-of-type(4) .case-single-accordion-head h3{
    color: #f65314;
  }
  .case-single-accordion-body{
    padding-inline-start: 22px;
  }
  .case-single-accordion-body p{
    font-size: 16px;
    font-weight: 400;
    color: #101010;
    line-height: 2.19;
    display: flex;
    align-items: baseline;
  }
  .case-single-accordion-body p strong{
    color: #6b1d58;
  }
  .accordion:nth-of-type(1) p{
    display: block;
  }
  .accordion:nth-of-type(2) .case-single-accordion-body p i{
    color: #34a853;
  }
  .accordion:nth-of-type(3) .case-single-accordion-body p i{
    color: #4285f4;
  }
  .accordion:nth-of-type(4) .case-single-accordion-body p i{
    color: #f65314;
  }
  .accordion-img img{
    box-shadow: 8px 3px 14px -1px rgb(0 0 0 / 20%);
    height: 430px;
  }
  .accordion-img a{
    background-color: #6B1D58;
    display: block;
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 4px;
  }
  .industries-boxes{
    margin-top: 40px;
  }
  .industries-boxes .industry-boxes{
    margin-bottom: 40px;
  }
  .industry-box{
    background: #d8d8d8;
    height: 70px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
  }
  .industry-box.active{
    background-color: #4285f4;
  }
  .industry-box.active h5{
    color: #fff;
  }
  .industry-box h5{
    color: #333;
    font-size: 18px;
    font-weight: 600;
  }
  .industries-box-info{
    display: none;
  }
  .industries-box-info .industry-img{
    border: 7px solid #4285f4;
    border-radius: 4px;
    padding: 10px;
  }
  .industries-box-info .industry-img img{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .industries-box-info.active{
    display: block;
  }
  .industries-box-info .industry-text p{
    color: #333;
    font-size: 18px;
    line-height: 1.78;
    margin-bottom: 66px;
  }
  .industries-box-info .industry-text .industry-logos img{
    margin-inline-end: 40px;
    margin-bottom: 40px;
  }
  /* End Single Case Study Page */