* {
  padding: 0;
  margin: 0;
}
.GP-Logo {
  position: fixed;
  bottom: 15px;
  left: 20px;
  z-index: 999999;
}
.GP-Logo img {
  width: 100px;
}
body {
  font-family: Montserrat, sans-serif;
}
body > .colored-line {
  position: absolute;
  z-index: 9;
  height: 11px;
}
.hd {
  display: none;
}
.colored-line {
  position: relative;
  width: 100%;
  height: 5px;
  overflow: hidden;
}
.colored-line img {
  position: absolute;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 5s;
}
@keyframes run {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 100%;
    right: 0;
  }
  100% {
    left: 0;
    right: 100%;
  }
}
.k-nav .colored-line {
  height: auto;
}
.k-nav .colored-line img {
  height: 8px;
}
@keyframes cololedLinaAnmi {
  0% {
    height: 0;
  }
  50% {
    height: 8px;
  }
  100% {
    height: 0;
  }
}
.k-nav .colored-line img {
  position: static;
  animation: cololedLinaAnmi 2.5s linear infinite;
}
:root {
  --dodger-blue: #4285f4;
  --orangered: #f65314;
  --marigold: #fb0;
  --medium-green: #34a853;
  --grape-purple: #6b1d58;
  --coral-pink: #fd5c63;
  --dark-lime-green: #7cbb00;
  --colors-color-101010: #101010;
  --gray: #afafaf;
  --blue: #6454dd;
  --pink: #e184bd;
  --white: #fff;
  --black: #333;
  --young-brown: #e1b582;
  --sickly-yellow: #b5dd2b;
  --06-white: #fff;
  --05-gray-light: #dce4e7;
  --04-gray: #949799;
  --03-dark: #000;
  --01-primary: #000;
  --colors-color-bcbcbc: #bcbcbc;
  --colors-color-f-5-f-5-f-5: #f5f5f5;
  --colors-color-232323: #232323;
  --hovers-hover-bg-2: rgba(16, 16, 16, 0.3);
  --colors-color-525252: #525252;
  --colors-color-d-6-d-6-d-6: #d6d6d6;
  --bg-opasity-bg-opacity-40: rgba(16, 16, 16, 0.4);
  --colors-color-8-a-8-a-8-a: #8a8a8a;
  --primary: #40bca8;
  --01-colors-01-main-secondary: #fff;
}
span.red:hover {
  color: var(--orangered);
}
span.blue:hover {
  color: var(--dodger-blue);
}
span.yellow:hover {
  color: var(--marigold);
}
span.green:hover {
  color: var(--medium-green);
}
.transition {
  transition: 0.5s;
}
@keyframes ripple {
  50% {
    box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
  }
  to {
    box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.k-ripple {
  box-shadow: 0 0 0 0 hsl(0deg 0% 61% / 35%);
  animation: ripple 3s infinite;
}
@keyframes float-subpixel {
  from {
    transform: rotate(-0.001deg) translate3d(5px, 0, 0) rotate(-0.001deg);
  }
  to {
    transform: rotate(360.001deg) translate3d(5px, 0, 0) rotate(-360.001deg);
  }
}
.k-float {
  animation: float-subpixel 5s infinite linear;
}
.line-after-center::after,
.line-after-start::after {
  content: "";
  background-image: url(../imgs/titleLine.png);
  background-position: center center;
  background-size: cover;
  height: 5px;
  width: 0;
  display: block;
  transition: 0.5s;
  margin: auto;
}
.line-after-center:hover::after,
.line-after-start:hover::after {
  width: 100%;
}
a {
  text-decoration: none;
}
strong {
  font-weight: 700;
}
.form-control:focus,
.form-select:focus {
  border-color: #d5dae2;
  box-shadow: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.hero .k-nav {
  position: absolute;
  z-index: 99999;
  width: 100%;
}
.hero .k-btn .search-icon {
  width: 30px;
}
.hero .k-btn {
  background: 0 0;
  border: 0;
  padding-left: 10px;
}
.hero .k-search {
  background: 0 0;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0 !important;
  color: #fff;
  width: 0;
  transition: 1s;
  opacity: 0;
}
.hero .k-search:focus {
  outline: 0;
}
.search-box {
  display: none;
}
.hero .search-box:hover .k-search {
  width: 200px;
  opacity: 1;
}
@media (max-width: 768px) {
  .hero .search-box:hover .k-search {
    width: 100px;
  }
}
.hero .offcanvas-start {
  width: 100%;
  background-image: linear-gradient(90deg, #600060 50%, #26011f 100%);
}
.hero .offcanvas-body .container {
  min-height: 100vh;
}
.hero .offcanvas-header {
  position: absolute;
  top: 0;
  right: 0;
}
.hero .offcanvas-header .btn-close {
  background: 0 0;
}
.hero .close-icon {
  top: 20px;
  right: 20px;
}
.hero .btn-close:hover {
  transition: 0.5s;
  opacity: 1;
}
.hero .btn-close:focus {
  box-shadow: 0 0;
}
.hero .question {
  font-size: 32px;
  font-weight: 500;
  color: var(--coral-pink);
}
.hero .suggestion {
  font-size: 47px;
  line-height: 1.17;
  color: var(--white);
  font-weight: 400;
}
.hero .rounded-pill {
  transition: 0.5s;
}
.hero .k-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.hero .k-menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
.hero .k-menu ul::before {
  content: "";
  background-image: url(../imgs/V-colored-line.jpg);
  height: 95%;
  width: 4px;
  position: absolute;
  background-size: contain;
  left: -15px;
}
.hero .k-menu ul li {
  position: relative;
}
.hero .k-menu ul li:after {
  content: "";
  position: absolute;
  height: 3px;
  left: 0;
  right: 100%;
  background-color: #fd5c62;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
.hero .k-menu ul li:hover:after {
  right: 0;
}
.hero .k-menu a {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.85;
  color: #fff;
  text-decoration: none;
}
.off-bottom .first {
  font-size: 16px;
  color: #fffffe;
}
.off-bottom .second {
  font-size: 10px;
  color: #fffffe;
}
.hero .Branding-Digital-M {
  margin: 0 0 14px;
  font-size: 14px;
  letter-spacing: 2.15px;
  padding-top: 137px;
  font-weight: 400;
  width: 120%;
}
.hero .GET-INSPIRED {
  font-size: 70px;
  line-height: 1.2;
  font-weight: 400;
}
.hero .TO-BE-TRANSFORMED-DI {
  font-size: 32px;
  font-weight: 400;
}
.hero .We-bring-ideas-to-li {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
.no-webp .hero .k-slider1 {
  background-image: url(../imgs/hero-bg.jpg);
}
.webp .hero .k-slider1 {
  background-image: url(../imgs/hero-bg.webp);
}
.hero .k-slider1 {
  background-size: cover;
  padding-top: 163px;
  padding-bottom: 140px;
}
@media (max-width: 768px) {
  .hero .Branding-Digital-M {
    width: 100%;
  }
  .hero .k-slider1 {
    padding-top: 70px;
  }
  .hero .Branding-Digital-M {
    padding-top: 30px;
  }
}
.slide1-img {
  max-width: 100%;
}
.k-social {
  position: absolute;
  z-index: 9;
  right: 25px;
  top: 50%;
}
.hero .k-social-top::after {
  content: "";
  height: 75px;
  width: 2px;
  background-color: #fff;
  text-align: center;
  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translateX(-2px);
}
@keyframes lineAnmi {
  0% {
    height: 0;
  }
  50% {
    height: 150px;
  }
  100% {
    height: 0;
  }
}
.hero .k-social-top::after {
  animation: lineAnmi 4s linear infinite;
}
.hero .offcanvas-body .k-social {
  top: 40%;
}
.k-social img {
  transition: all 0.5s;
}
.k-social img:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .hero .title {
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 8px;
  }
  .hero .k-social {
    right: 10px;
    top: 350px;
  }
  .k-slider1 .col-md-5,
  .k-slider2 .col-md-5,
  .k-slider3 .col-md-5 {
    padding-right: 20px;
  }
  .hero .k-social-top::after {
    display: none;
  }
}
.about-us {
  padding-top: 96px;
  padding-bottom: 87px;
  overflow: hidden;
}
.about-us .title,
.blog .title,
.case-studies .title,
.get-started .title,
.our-services .title,
.Services .title {
  color: var(--grape-purple);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  letter-spacing: 4.31px;
}
.about-us .brief,
.case-studies .brief,
.get-started .brief,
.our-services .brief {
  font-size: 19px;
  font-weight: 600;
  line-height: 2.11;
  color: var(--black);
}
.about-us .colored-line {
  margin-top: -20px;
  margin-bottom: 40px;
}
.about-us .details {
  font-size: 16px;
  color: var(--colors-color-525252);
  line-height: 2;
  margin-bottom: 30px;
}
.about-us .btn-primary,
.awards .btn-light,
.blog .btn-primary,
.our-clients .btn-primary {
  background-color: #6b1d58;
  color: var(--white);
  font-size: 18px;
  line-height: 22px;
  padding: 13px 50px;
  border: 2px solid transparent;
  width: fit-content;
  transition: all 0.5s;
}
.about-us .btn-primary:hover,
.awards .btn-light:hover,
.blog .btn-primary:hover,
.our-clients .btn-primary:hover {
  background-color: transparent;
  border: 2px solid #6b1d58;
  color: #6b1d58;
}
.awards .btn-light:hover {
  color: #fff;
  border: 2px solid #fff;
}
.btn-light:focus,
.btn-primary:focus {
  box-shadow: 0 0;
}
.about-us .squares1 {
  top: 23px;
  left: -30px;
  z-index: -1;
}
.about-us .squares2 {
  top: 0;
  right: -118px;
}
.no-webp .our-services {
  background-image: url(../imgs/review.jpg);
}
.webp .our-services {
  background-image: url(../imgs/review.jpg);
}
.our-services {
  padding: 62px 0;
  background-size: cover;
}
.our-services .Services-we-provide {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 4.31px;
  color: var(--white);
  text-transform: uppercase;
}
.our-services .We-are-committed-to {
  font-size: 16px;
  color: var(--white);
  line-height: 2;
  margin-bottom: 30px;
}
.our-services .We-Design-Digital-Pr {
  font-size: 19px;
  font-weight: 600;
  line-height: 2.11;
  color: var(--white);
}
.blog .colored-line,
.case-study .colored-line,
.our-services .colored-line {
  width: 270px;
}
@media (min-width: 1200px) {
  .our-services .container {
    max-width: 1058px;
  }
}
.our-services h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
}
.our-services .service {
  transition: 0.5s;
  width: 212px;
  height: 212px;
  margin-bottom: 35px;
  border-radius: 2px;
}
.our-services .Service-con {
  display: block;
  border-radius: 2px;
  border: solid 1px #fffefe;
  text-decoration: none;
  transition: 0.5s;
  height: 202px;
  width: 202px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.our-services .service:hover {
  padding: 5px;
}
.our-services .service.red:hover {
  background-color: #fd5c63;
}
.our-services .service.blue:hover {
  background-color: var(--dodger-blue);
}
.our-services .service.yellow:hover {
  background-color: var(--marigold);
}
.our-services .service.green:hover {
  background-color: var(--medium-green);
}
.our-services .services-squares {
  bottom: -45px;
  left: 130px;
}
.case-studies {
  padding: 62px 0;
}
.case-studies .case {
  position: relative;
}
.case-studies .case > div {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  background-color: #4285f4c7;
}
.case-studies .case div.pink {
  background-color: #fd5c63c7;
}
.case-studies .case div.blue {
  background-color: #4285f4c7;
}
.case-studies .case div.green {
  background-color: #34a853c7;
}
.case-studies .case div.yellow {
  background-color: #fbbc05c7;
}
.case-studies .case div.purple {
  background-color: #6c1d58c7;
}
.case-studies .case > img {
  height: 460px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.case-studies .case:hover > img {
  filter: unset;
  -webkit-filter: unset;
}
.case-studies .case > div {
  opacity: 0;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 25px;
  bottom: 25px;
  padding: 15px;
  background-color: #e25962c7;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.case-studies .case:hover > div {
  opacity: 1;
}
.case-studies .case a img {
  margin-top: 40px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.case-studies .case:hover a img {
  transform: translateY(-10px);
}
.case-studies .case > div > div {
  border: 2px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.case-studies .projects-btn {
  width: fit-content;
}
.case-studies .projects-btn::after {
  content: "";
  height: 5px;
  background-image: url(../imgs/case-studyLine.png);
  display: block;
  background-repeat: no-repeat;
}
.tech-logos .col {
  padding: 15px;
}
.no-webp .We-are-trusted {
  background-image: url(../imgs/bg2.jpg);
}
.webp .We-are-trusted {
  background-image: url(../imgs/bg2.webp);
}
.We-are-trusted {
  background-size: cover;
  min-height: 435px;
  padding-top: 52px;
}
.We-are-trusted-by-ov {
  font-size: 39px;
  font-weight: 600;
  line-height: 1.49;
  color: var(--white);
  text-transform: uppercase;
}
.feat-img {
  margin-top: -320px;
  z-index: 89;
  position: relative;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .feat-img {
    margin-top: -130px;
  }
}
.feat-img img {
  max-width: 100%;
}
.Strategy-led-design {
  font-size: 33px;
  font-weight: 600;
  line-height: 1.39;
  color: var(--black);
}
@media (min-width: 992px) {
  .trusted-box {
    background: #fff;
    z-index: 99;
    height: max-content;
    position: absolute;
    right: 0;
    top: -180px;
    width: 60%;
    padding: 0;
  }
  .trusted-box ul {
    padding: 0 60px;
  }
  .Strategy-led-design {
    padding: 35px 60px 10px;
  }
}
.trusted-box-text {
  font-size: 22px;
  color: var(--black);
  display: inline-block;
  padding-left: 15px;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .trusted-box li {
    display: flex;
    align-items: center;
  }
}
.trusted-box .colored-line {
  width: 100%;
  vertical-align: bottom;
}
.trusted-clients {
  padding-bottom: 22px;
}
.trusted-clients .trusted-clients-logo {
  margin-top: 50px;
}
.trusted-clients .trusted-clients-logo .trusted-logo {
  box-shadow: 0 7px 15px 4px rgb(0 0 0 / 7%);
  width: 190px;
  height: 190px;
  border: 3px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.trusted-clients .trusted-clients-logo .trusted-logo:hover {
  border-color: var(--grape-purple);
}
.trusted-clients .trusted-clients-logo a {
  display: inline-block;
  margin-top: 50px;
  width: 220px;
  height: 60px;
  line-height: 45px;
  font-size: 18px;
  background-color: #6b1d58;
  border: 1px solid #6b1d58;
  color: #fff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.trusted-clients .trusted-clients-logo a:hover {
  background-color: #fff;
  color: #6b1d58;
}
.no-webp .our-team {
  background-image: url(../imgs/team-bg.jpg);
}
.webp .our-team {
  background-image: url(../imgs/team-bg.webp);
}
.our-team {
  background-size: cover;
}
.our-team .overl-lay {
  padding: 84px 0;
  background-color: rgb(107 29 88 / 84%);
}
.our-team .title {
  font-size: 28px;
  font-weight: 700;
  line-height: 2.07;
  color: var(--white);
  text-transform: uppercase;
}
.Great-things-are-nev {
  font-size: 19px;
  font-weight: 600;
  line-height: 2.11;
  color: var(--white);
}
.our-team .btn-light {
  background-color: #f8f9fa;
  color: var(--grape-purple);
}
.blog {
  margin: 76px 0 90px 0;
}
.no-webp .blog .post {
  background-image: url(../imgs/post-hover.jpg);
}
.webp .blog .post {
  background-image: url(../imgs/post-hover.webp);
}
.blog .post {
  padding: 20px 15px;
  height: 350px;
  margin: 50px 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #101010;
  transition: all 0.5s;
  border-radius: 4px;
}
.blog .meta {
  font-size: 16px;
  line-height: 19px;
}
.blog .title {
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: var(--colors-color-101010);
  transition: all 0.5s;
}
.blog .read-more {
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  transition: all 0.5s;
}
.blog .meta,
.blog .read-more,
.blog .title {
  position: relative;
  z-index: 1;
}
.blog .post-layer {
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  transition: all 1.5s;
  border: 1px solid #d7d7d7;
}
.blog .post:hover .post-layer {
  opacity: 0;
  border: 0;
}
.blog .post:hover,
.blog .post:hover .read-more,
.blog .post:hover .title {
  color: #fff !important;
}
.blog .cls-1 {
  transition: all 0.5s;
}
.blog .post:hover .cls-1 {
  fill: #fff;
}
.blog .post:hover {
  transform: translateY(-20px);
}
.blog .post svg {
  transition: all 0.5s;
}
.blog .post:hover svg {
  transform: scale(1.1) translate(0.5px, -0.5px);
}
.blog .read-more:hover svg {
  animation: rotate 1s;
}
.blog .owl-nav {
  position: absolute;
  top: 0;
  right: 30px;
}
.blog .owl-carousel .owl-nav button.owl-next,
.blog .owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  font-size: 25px;
  margin: 0 10px;
}
.main-get-started {
  padding-block: 90px;
  background-color: #f5f5f5;
}
.main-get-started .title {
  color: #6b1d58;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-get-started .brief {
  font-size: 22px;
  font-weight: 400;
}
.main-get-started input[type="text"],
.main-get-started textarea {
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.09);
  border: 0;
}
.main-get-started input {
  height: 60px;
}
.main-get-started input[type="submit"] {
  background: #6b1d58;
  border: 1px solid #6b1d58;
  color: #fff;
  height: 60px;
  font-weight: 500;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.main-get-started input[type="submit"]:hover {
  background: #fff;
  color: #6b1d58;
}
.main-contact-information {
  padding-block: 60px;
}
.main-contact-information h3 {
  font-size: 28px;
  font-weight: 600;
  color: #6b1d58;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.main-contact-information .brief {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  margin-bottom: 45px;
}
.main-contact-information .main-info-box h5 {
  font-size: 19px;
  font-weight: 600;
  color: #6b1d58;
  margin-bottom: 10px;
}
.main-contact-information .main-info-box a,
.main-contact-information .main-info-box p {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.main-contact-information .main-info-box strong {
  color: #555;
}
.main-contact-information .main-info-box a svg:hover path {
  fill: #6b1d58;
}
.main-footer {
  background: #6b1d58;
}
.pb-60 {
  padding-block: 60px;
}
.main-footer .pb-60 img {
  margin-bottom: 30px;
}
.main-footer p {
  color: #f5f5f5;
}
.main-info-box a.d-block:hover {
  color: #6b1d58;
}
