:root {
  --dodger-blue: #4285f4;
  --orangered: #f65314;
  --marigold: #fb0;
  --medium-green: #34a853;
  --grape-purple: #6b1d58;
  --coral-pink: #fd5c63;
  --dark-lime-green: #7cbb00;
  --colors-color-101010: #101010;
  --gray: #afafaf;
  --blue: #6454dd;
  --pink: #e184bd;
  --white: #fff;
  --black: #333;
  --young-brown: #e1b582;
  --sickly-yellow: #b5dd2b;
  --06-white: #fff;
  --05-gray-light: #dce4e7;
  --04-gray: #949799;
  --03-dark: #000;
  --01-primary: #000;
  --colors-color-bcbcbc: #bcbcbc;
  --colors-color-f-5-f-5-f-5: #f5f5f5;
  --colors-color-232323: #232323;
  --hovers-hover-bg-2: rgba(16, 16, 16, 0.3);
  --colors-color-525252: #525252;
  --colors-color-d-6-d-6-d-6: #d6d6d6;
  --bg-opasity-bg-opacity-40: rgba(16, 16, 16, 0.4);
  --colors-color-8-a-8-a-8-a: #8a8a8a;
  --primary: #40bca8;
  --01-colors-01-main-secondary: #fff;
}
.hero .btn-light{
    transition: all 500ms;
    width: 200px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
}
.hero .btn-light:hover{
    background-color: transparent;
    color: #fff;
}

.contact-form-container{
    box-shadow: inset 0px 0px 5px 1px #fff;
    padding: 30px 25px;
    border: 1.5px solid;
    border-radius: 2px;
}
.SCHEDULE-A-FREE-CONS {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.42;
  }
  .Chat-live-with-us-or {
    font-size: 12px;
    font-weight: 600;
  }
.contact-form-container label{
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 1rem;        
}
.contact-form-container input{
    border-color: #d5dae2;
}
.contact-form-container input[type="submit"]{
    background: #fd5c63;
    border: 1px solid #fd5c63;
    color: #fff;
    height: 40px;
    margin-top: 10px;
    font-weight: 500;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.contact-form-container input[type="submit"]:hover{
    background: #fff;
    color: #f65314;
}


/* tech logos */
.We-specialize-in-all {
    margin: 0px 0 73.7px 0;
    font-size: 21px;
    line-height: 1.52;
    color: #525252;
}
/* Expectations */
.Expectations{
    background-color: #6b1d58;
}
.expect-box{
    padding: 25px 15px;
    border-radius: 4px;
    margin-bottom: 35px;
    border: 2px solid transparent;
    transition: 500ms;
}
.expect-box:hover{
    border: 2px solid;
    background: #00000030;
    transform: translateY(-5px);
}
.expect-box h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 11.11px;
    margin-bottom: 15px;
}
.expect-box .Fast-turnaround-time {
    font-size: 14px;
    line-height: 1.43;
    color: #d9d9d9;
    transition: 500ms;
  }
.expect-box:hover .Fast-turnaround-time {
    color: #fff;
  }

  /* trusted */
  .We-lay-down-a-solid {
    font-size: 21px;
    line-height: 1.95;
    color: #333;
  }
  /* Newsletters */
  .Newsletters{
      background-color: #f5f5f5;
      padding: 100px 0;
  }
  .Stay-in-the-know {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.31;
    letter-spacing: 1.2px;
    color: #6b1d58;
  }
  .Join-our-mailing-lis {
    font-size: 17px;
    line-height: 1.59;
    letter-spacing: 0.6px;
    color: #333;
  }
  .Newsletters input{
      width: 80%;
      border-radius: 4px;
      box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
      background-color: #fff;
      height: 45px;
  }
  .Newsletters input:focus{
      outline: 0;
  }
  .Newsletters button{
      right: 10%;
      height: 83%;
    padding: 0px 10px;
    background: #6b1d58;
    margin-top: 3px;
    border-radius: 4px;
    color: #fff;
    transition: 500ms;
  }
  .Newsletters button:hover{
      transform: scale(1.1);
  }

  /* PPC */
  .title small{
    font-size: 23px;
    letter-spacing: 0px;
    font-weight: 600;
  }
  .people-showing-thumbs-up {
    width: 326px;
  height: 378px;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 8px;
    margin-top: 40px;
  }
  .Tailored-Strategy {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.67;
    color: var(--marigold);
    transition: all 500ms;
  }
  .Deep-Dive{
    color: var(--dodger-blue);
  }
  .All-inclusive,.Budget-Control{
    color: var(--coral-pink);
  }
  .Analysis{
    color: var(--grape-purple);
  }
  .Transparent-Pricing{
    color: var(--medium-green);
  }
  .We-build-a-tailored {
    font-family: OpenSans;
    font-size: 15px;
    line-height: 1.67;
    color: #000;
    transition: all 500ms;
  }
  .Services .service  {
    transition: 500ms;
    margin-bottom: 35px;
    border-radius: 2px;
    background-color: #f5f5f5;
  }
  @media (min-width: 768px){
    .Services .service{
      max-width: 30%;
    }
  }

  .Services .Service-con{
      display: block;
    border-radius: 4px;
    border: solid 1px #fffefe;
    text-decoration: none;
    transition: 500ms;
    padding: 32px;
  }
  .Services .service  {
    padding: 12px;
    border-radius:4px ;
  }
  .Services .service:hover h4,.Services .service:hover p {
    color: var(--white);
  }
  .Services .service.red:hover  {
    background-color: #FD5C63;
  }
  .Services .service.blue:hover  {
    background-color: var(--dodger-blue);
  }
  .Services .service.yellow:hover  {
    background-color: var(--marigold);
  }
  .Services .service.green:hover  {
    background-color: var(--medium-green);
  }
  .Services .service.purple:hover  {
    background-color: var(--grape-purple);
  }

.Services .services-squares{
    bottom: -45px;
    left: 130px;
}
.G-ser1,.G-ser2{
  top: 60%;
}
.G-ser1{
  right: 0;
}
.G-ser2{
  left: 0;
}