*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
:root {
    --dodger-blue: #4285f4;
    --orangered: #f65314;
    --marigold: #fb0;
    --medium-green: #34a853;
    --grape-purple: #6b1d58;
    --coral-pink: #fd5c63;
    --dark-lime-green: #7cbb00;
    --colors-color-101010: #101010;
    --gray: #afafaf;
    --blue: #6454dd;
    --pink: #e184bd;
    --white: #fff;
    --black: #333;
    --young-brown: #e1b582;
    --sickly-yellow: #b5dd2b;
    --06-white: #fff;
    --05-gray-light: #dce4e7;
    --04-gray: #949799;
    --03-dark: #000;
    --01-primary: #000;
    --colors-color-bcbcbc: #bcbcbc;
    --colors-color-f-5-f-5-f-5: #f5f5f5;
    --colors-color-232323: #232323;
    --hovers-hover-bg-2: rgba(16, 16, 16, 0.3);
    --colors-color-525252: #525252;
    --colors-color-d-6-d-6-d-6: #d6d6d6;
    --bg-opasity-bg-opacity-40: rgba(16, 16, 16, 0.4);
    --colors-color-8-a-8-a-8-a: #8a8a8a;
    --primary: #40bca8;
    --01-colors-01-main-secondary: #fff;
  }
@keyframes ripple{
    50%{box-shadow:0 0 0 40px rgba(244,68,56,0)}
    to{box-shadow:0 0 0 0 rgba(244,68,56,0)}
}
 
@keyframes rotate{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
.k-ripple{
    box-shadow: 0 0 0 0 hsl(0deg 0% 61% / 35%);
    animation: ripple 3s infinite;
}
@keyframes float-subpixel {
    from {
      transform: rotate(-0.001deg) translate3d(5px, 0, 0) rotate(-0.001deg);
    }
    to {
      transform: rotate(360.001deg) translate3d(5px, 0, 0) rotate(-360.001deg);
    }
  }
.k-float{
    animation: float-subpixel 5s infinite linear;
}
.line-after-start::after,.line-after-center::after{
    content: "";
    background-image: url(../imgs/titleLine.png);
    background-position: center center;
    background-size: cover;
    height: 5px;
    width: 0px;
    display: block;
    transition: .5s;
    margin: auto;
}
.line-after-start:hover::after,.line-after-center:hover::after{
    width: 100%;
}
/* hero start */
.hero .k-nav{
    position: absolute;
    z-index: 99999;
    width: 100%;
}
.hero .k-btn{
    background: transparent;
    border: 0;
    padding-left: 10px;
}
.hero .k-search{
    background: transparent;
    border: 0px 0xp 1px 0px;
    border: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0 !important;
    color: #fff;
    width: 0px;
    transition: 1s;
    opacity: 0;
}
.hero .k-search:focus{
    outline: 0px;
}
.hero .search-box:hover .k-search{
    width: 200px;
    opacity: 1;
}
@media(max-width:768px){
    .hero .search-box:hover .k-search{
        width: 100px;
    }
}
.hero .offcanvas-start{
    width: 100%;
    background-color: #000;
}
.hero .offcanvas-body .container{
    height: 100vh;
}
.hero .offcanvas-header{
    position: absolute;
    top: 0;
    right: 0;
}
.hero .offcanvas-header .btn-close{
    background: transparent;
 }
 .hero .close-icon{
     top: 20px;
     right: 20px;
 }
 .hero .close-icon:hover{
     animation: rotate 1s;
 }
 .hero .btn-close:focus{
     box-shadow:0 0 0 0
 }
 .hero .question{
     color: greenyellow;
 }
 .hero .rounded-pill{
     transition: .5s;
 }
 .hero .TOS-PP a{
     color: #7f8c8d;
     text-decoration: none;
     transition: .5s;
 }
 .hero .TOS-PP a:hover{
     color: #fff;
 }
.hero .services{
    letter-spacing: 1px;
    line-height: 16px;
    margin-top: 107px;
    margin-bottom: 8px;
}
.hero .title{
    font-size: 70px;
    line-height: 84px;
    margin-bottom: 8px;
}
.hero .details{
    font-size: 18px;
    line-height: 27px;
}
.hero .owl-carousel .k-slider1,.hero .owl-carousel .k-slider2,.hero .owl-carousel .k-slider3{
    background-image: linear-gradient(
        270deg
        ,#26011F , #600060);
        padding-top: 70px;
        padding-bottom: 140px;
}
.hero .owl-carousel .k-slider2{
    background-image: linear-gradient(
        270deg
        ,#071B3E , #4285F4);
}
.hero .owl-carousel .k-slider3{
    background-image: linear-gradient(
        270deg
        ,#39C55E , #09551E);
}
.hero .owl-carousel .owl-dots{
    transform: translateY(-132px);
}
.hero .owl-carousel button.owl-dot{
    background: #D8D8D8;
    width: 70px;
    height: 2px;
}
.hero .owl-dots::before,.hero .owl-dots::after{
    content: "01";
    color: #fff;
    margin-right: 20px;
    font-size: 16px;
}
.hero .owl-dots::after{
    content: "03";
    margin-left: 20px;
}
.hero .owl-carousel button.owl-dot:first-child.active{
    background: #26011F;
}
.hero .owl-carousel button.owl-dot:nth-child(2).active{
    background: #4285F4;
}
.hero .owl-carousel button.owl-dot:nth-child(3).active{
    background: #39C55E;
}
/* .hero .owl-carousel button.owl-dot:nth-child(4).active{
    background: #34A853;
} */
.hero .k-social{
    position: absolute;
    z-index: 9;
    right: 25px;
    top: 50%;
}
.hero .k-social-top::after{
    content: "";
    height: 75px;
    width: 2px;
    background-color: #fff;
    text-align: center;
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-2px);
}
@keyframes lineAnmi{
    0%{height: 0;}
    50%{height: 150px;}
    100%{height: 0;}
}
.hero .k-social-top::after{
    animation: lineAnmi 4s linear infinite ;
}
.hero .offcanvas-body .k-social{
    position: static;
}
.k-social img{
    transition: all .5s;
}
.k-social img:hover{
    transform: scale(1.1);
}
@media(max-width:768px){
    .hero .title{
        font-size: 50px;
        line-height: 62px;
        margin-bottom: 8px;
    }
    .hero .k-social{
        right: 10px;
        top: 200px;
    }
    .k-slider1 .col-md-5,.k-slider2 .col-md-5,.k-slider3 .col-md-5{
        padding-right: 20px;
    }
}
/* hero end */

/* about-us start */
.about-us{
    padding-top: 96px;
    overflow: hidden;
}
.about-us .title,.our-services .title,.case-studies .title,.get-started .title,.blog .title{
    color: var(--grape-purple);
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    letter-spacing: 4.31px;
}
.about-us .brief, .our-services .brief,.get-started .brief,.case-studies .brief{
    font-size: 19px;
  font-weight: 600;
  line-height: 2.11;
  color: var(--black);
}
.about-us .colored-line{
    margin-top: -20px;
    margin-bottom: 40px;
}
.about-us .details{
    font-size: 16px;
    color: var(--colors-color-525252);
    line-height: 2;
    margin-bottom: 30px;
}
.about-us .btn-primary, .our-clients .btn-primary,.awards .btn-light,.blog .btn-primary {
    background-color: #6B1D58;
    color: var(--white);
    font-size: 18px;
    line-height: 22px;
    padding: 13px 50px;
    border: 2px solid transparent;
    width: fit-content;
    transition: all .5s;
}
.about-us .btn-primary:hover, .our-clients .btn-primary:hover,.awards .btn-light:hover,.blog .btn-primary:hover{
    background-color: transparent;
    border: 2px solid #6B1D58;
    color: #6B1D58;
}
.awards .btn-light:hover{
    color: #fff;
    border: 2px solid #fff;
}
.btn-primary:focus,.btn-light:focus{
    box-shadow: 0 0 0 0;
}
.about-us .squares1{
    top: 23px;
    left: -30px;
    z-index: -1;
}
.about-us .squares2{
    top: 0px;
    right: -118px;
}
/* about-us end */

/* our services start */
.no-webp .our-services{
    background-image: url(../imgs/review.jpg);
}
.webp .our-services{
    background-image: url(../imgs/review.jpg);
}
.our-services{
    padding: 62px 0;
    background-size: cover;
}
.our-services .Services-we-provide {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4.31px;
    color: var(--white);
  }
.our-services  .We-are-committed-to {
    font-size: 21px;
    line-height: 1.52;
    color: var(--white);
    margin-bottom: 55px;
  }
 .our-services .We-Design-Digital-Pr {
    font-size: 33px;
    font-weight: 600;
    line-height: 1.48;
    color: var(--white);
  }
.our-services .colored-line,.case-study .colored-line,.blog .colored-line{
    width: 270px;
}
@media(min-width:1200px){
    .our-services .container{
        max-width: 1058px;
    }
}
.our-services h4 {
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
  }
  .our-services .service  {
    transition: 500ms;
    width: 212px;
    height: 212px;
    margin-bottom: 35px;
    border-radius: 2px;
  }
  .our-services .Service-con{
      display: block;
    border-radius: 2px;
    border: solid 1px #fffefe;
    text-decoration: none;
    transition: 500ms;
    height: 202px;
    width:202px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .our-services .service:hover  {
    background-color: var(--dodger-blue);
    padding: 5px;
  }

.our-services .services-squares{
    bottom: -45px;
    left: 130px;
}
/* our services end */

/* Start Case Study */
.case-studies{
    padding: 62px 0;
}
.case-studies .case{
    position: relative;
}
.case-studies .case > div{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background-color: #4285f4c7;
}
.case-studies .case > img{
    height: 460px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.case-studies .case:hover > img{
    filter: unset;
    -webkit-filter: unset;
}
.case-studies .case > div{
    opacity: 0;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 25px;
    bottom: 25px;
    padding: 15px;
    background-color: #4285f4c7;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.case-studies .case:hover > div{
    opacity: 1;
}
.case-studies .case a img{
    margin-top: 40px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.case-studies .case:hover a img{
    transform: translateY(-10px);
}
.case-studies .case > div > div{
    border: 2px solid #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.case-studies .projects-btn {
    width: fit-content;
}
.case-studies .projects-btn::after {
    content: "";
    height: 5px;
    background-image: url(../imgs/case-studyLine.png);
    display: block;
    background-repeat: no-repeat;
}
/* End Case Study */

/* tech-logos start */
.tech-logos .col{
    padding: 15px;
}
/* tech-logos end */

/* We are trusted start  */
.no-webp .We-are-trusted{
    background-image: url(../imgs/bg2.jpg);
}
.webp .We-are-trusted{
    background-image: url(../imgs/bg2.webp);
}
.We-are-trusted{
background-size: cover;
min-height: 435px;
padding-top: 52px;
}

.We-are-trusted-by-ov {
    font-size: 39px;
    font-weight: 600;
    line-height: 1.49;
    color: var(--white);
    text-transform: uppercase;
  }
.feat-img{
    margin-top: -320px;
    z-index: 89;
    position: relative;
    margin-bottom: 80px;
}
@media(max-width: 992px){
    .feat-img{
        margin-top: -130px;
    }
}
.feat-img img{
    max-width: 100%;
}
.Strategy-led-design {
    font-size: 33px;
    font-weight: 600;
    line-height: 1.39;
    color: var(--black);
  }
@media(min-width:992px){
    .trusted-box{
        background: #fff;
        z-index: 99;
        height: max-content;
        position: absolute;
        right: 0;
        top: -180px;
        width: 60%;
        padding: 0;
    }
    .trusted-box ul{
        padding: 0 60px;
    }
    .Strategy-led-design {
        padding: 35px 60px 10px;
      }
}
.trusted-box-text {
    font-size: 22px;
    color: var(--black);
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
  }
  @media(max-width:768px){
    .trusted-box li{
        display: flex;
        align-items: center;
    }
  }
.trusted-box .colored-line {
    width: 100%;
    vertical-align: bottom;
}
/* We are trusted end  */

/* trusted start */
.trusted-clients{
    padding-bottom: 22px;
}
.trusted-clients .trusted-clients-logo{
    margin-top: 50px;
}
.trusted-clients .trusted-clients-logo img{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    box-shadow: 0 7px 15px 4px rgb(0 0 0 / 7%);
    width: 190px;
    height: 190px;
    border: 3px solid transparent;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.trusted-clients .trusted-clients-logo img:hover{
    filter: unset;
    -webkit-filter: unset;
    border-color: #34a853;
}
.trusted-clients .trusted-clients-logo a{
    display: inline-block;
    margin-top: 50px;
    width: 220px;
    height: 60px;
    line-height: 45px;
    font-size: 18px;
    background-color: #6B1D58;
    border: 1px solid #6B1D58;
    color: #fff;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.trusted-clients .trusted-clients-logo a:hover{
    background-color: #fff;
    color: #6B1D58;
}
/* trusted end */

/* our-team start */
.no-webp .our-team{
    background-image: url(../imgs/team-bg.jpg);
}
.webp .our-team{
    background-image: url(../imgs/team-bg.webp);
}
.our-team{
background-size: cover;
}
.our-team .overl-lay{
    padding: 84px 0;
background-color: rgb(107 29 88 / 84%);
}
.our-team .title {
    font-size: 28px;
    font-weight: bold;
    line-height: 2.07;
    color: var(--white);
    text-transform: uppercase;
  }
.Great-things-are-nev {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.43;
    text-align: center;
    color: var(--white);
    padding: 30px 10px;
  }
  .our-team .btn-light {
    background-color: #f8f9fa;
    color: var(--grape-purple);
}
/* our-team end */

/* blog start */
.blog{
    margin: 76px 0px 90px 0px;
}
.no-webp .blog .post{
    background-image: url(../imgs/post-hover.jpg);
}
.webp .blog .post{
    background-image: url(../imgs/post-hover.webp);
}
.blog .post{
    padding: 48px 50px;
    height: 326px;
    width: 335px;
    margin: 50px 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #101010;
    transition: all .5s;
}
.blog .meta{
    font-size: 16px;
    line-height: 19px;
}
.blog .title{
    font-size: 26px;
    line-height: 40px;
    transition: all .5s;
}
.blog .read-more{
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    transition: all .5s;
}
.blog .meta,.blog .title,.blog .read-more{
    position: relative;
    z-index: 1;
}
.blog .post-layer{
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    transition: all 1500ms;
    border: 1px solid #D7D7D7;
}
.blog .post:hover .post-layer{
    opacity: 0;
    border: 0;
}
.blog .post:hover,.blog .post:hover .title,.blog .post:hover .read-more {
    color: #fff !important;
}
.blog .cls-1 {
    fill: #000;
    transition: all .5s;
  }
  .blog .post:hover .cls-1 {
    fill: #fff;
  }
  .blog .post:hover{
      transform: translateY(-20px);
  }
  .blog .post svg{
      transition: all .5s;
  }
  .blog .post:hover svg{
    transform: scale(1.1) translate(.5px,-.5px);
}
.blog .read-more:hover svg{
    animation: rotate 1s; 
}
/* blog end */

/* Start Footer */
.main-footer{
    background: #6b1d58;
}
.pb-60{
    padding-block: 60px;
}
.main-footer .pb-60 img{
    margin-bottom: 30px;
}
.main-footer p{
    color: #f5f5f5;
}
/* End Footer */