/* test S */
.hero .k-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
:root {
    --white-color: #7f8c8d;
  }
.hero .k-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .hero .k-menu a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
  }
  
  .hero .k-menu .menu-hover-fill li {
    position: relative;
  }
  .hero .k-menu .menu-hover-fill li::before {
    position: absolute;
    content: "";
    top: 0;
    left: -1rem;
    width: 0.25rem;
    height: 100%;
    background: var(--menu-link-active-color);
    transition: 0.6s;
  }
  .hero .k-menu .menu-hover-fill li a {
    --menu-link-color: var(--white-color);
    position: relative;
    background: linear-gradient(var(--menu-link-active-color) 0 100%) left/0 no-repeat;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-size 0.45s 0.04s;
  }
  .hero .k-menu .menu-hover-fill li a::before {
    position: absolute;
    content: attr(data-text);
    z-index: -1;
    color: var(--menu-link-color);
  }
  .hero .k-menu .menu-hover-fill li:nth-child(1) {
    --menu-link-active-color: red;
  }
  .hero .k-menu .menu-hover-fill li:nth-child(2) {
    --menu-link-active-color: green;
  }
  .hero .k-menu .menu-hover-fill li:nth-child(3) {
    --menu-link-active-color: blue;
  }
  .hero .k-menu .menu-hover-fill li:nth-child(4) {
    --menu-link-active-color: orange;
  }
  .hero .k-menu .menu-hover-fill li:nth-child(5) {
    --menu-link-active-color: purple;
  }
  .hero .k-menu .menu-hover-fill li:hover::before {
    left: calc(100% + 1rem);
  }
  .hero .k-menu .menu-hover-fill li:hover a {
    background-size: 100%;
    /* --menu-link-color: transparent; */
  }
/* test E */

@keyframes menu-trans{
    0%{    transform: translate(-100%,0);
        opacity: 0;}
        100%{
            transform: translate(0%,0);
            opacity: 1;
        }
}

.hero .k-menu .menu-hover-fill li {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
    transition: all .4s ease;
   }
.hero .k-menu .menu-hover-fill li.transition-in {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
   }
.hero .k-menu .menu-hover-fill li:nth-of-type(1) {
    transition-delay: 0.225s, 0.875s;
  }
.hero .k-menu .menu-hover-fill li:nth-of-type(2) {
    transition-delay: 0.275s, 0.875s;
  }
.hero .k-menu .menu-hover-fill li:nth-of-type(3) {
    transition-delay: 0.325s, 0.875s;
  }
.hero .k-menu .menu-hover-fill li:nth-of-type(4) {
    transition-delay: 0.375s, 0.875s;
  }
.hero .k-menu .menu-hover-fill li:nth-of-type(5) {
    transition-delay: 0.425s, 0.875s;
  }